doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Email Verification Code
    body
        p Confirm your email address
        p Your confirmation code is below — enter it in your open browser window and we'll help you get signed in.
        p ${code}
        p This code will expire in 24 hours
        p If you didn’t request this email, there’s nothing to worry about — you can safely ignore it.
        p Thanks for using Projectia